body {background-color:#4e838f;
border:0px;
margin:0px;
padding:0px;
font-size: 24px;
font-family: Verdana, Arial, Helvetica, sans-serif;
text-decoration:none;
}

.balken {background-color:#f2a51a;
margin:0px;
padding:0px;

}

.imbalken {margin: 0px;
    padding: 0px;
    float:left;

}

.nix {clear:left;}

.bild {vertical-align: bottom;}
div {line-height: 2.3;color:#ffffff;font-size:24px;border:0px;}

.anderefarbe {	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 24px;	line-height: 32px;	color: #9abcc3;}a {text-decoration:none;border:0px;color:#ffffff}a:link{color:#FFFFFF;}a:hover{color:#9abcc3;}#text-center, #text-center p {    font-size:16px;    line-height:normal;}